If:
  PathMatch:
    - "libak/src/.*\\.hpp"
    - "libak/src/.*\\.cpp"
    - "libak/examples/echo/.*\\.hpp"
    - "libak/examples/echo/.*\\.cpp"

CompileFlags:
  Compiler: clang++
  Add: 
    - "-std=c++2c"
    - "-fcoroutines"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-mavx2"
    - "-mbmi"
    - "-mbmi2"
    - "-I./libak/src"
    - "-I/nix/store/gbwf7by78vgqjmcjf1smbh1zib0mycf8-libcxx-20.1.6-dev/include"
    - "-I/nix/store/qqjsw1fzand71ajx326r84zgi485mqb8-liburing-2.11-dev/include"
    - "-I/nix/store/5xrzl2s73vp8ff9ywz748hnkg0kflxsr-gtest-1.17.0-dev/include"
    - "-I/nix/store/08w3zci7z09fnpkfir56pi3rby58cj7z-gbenchmark-1.9.4/include"
    - "-D_CLANGD=1"
    - "-O1"

Diagnostics:
  ClangTidy:
    Remove: ['*']
  UnusedIncludes: Strict

Index:
  Background: Skip
